apiVersion: v1
kind: Service
metadata:
  name: ecr-api
  namespace: sage
  labels:
    app: ecr-api
spec:
  selector:
    k8s-app: ecr-api
  type: ClusterIP
  ports:
  - name: ecr-api
    port: 5000
    protocol: TCP
    targetPort: 5000